{% extends 'main_products.html' %}

{% block content %}

<div class="main-wrapper">
    <div class="container">
        <div class="prodtable-container">
            <div class="labels-container">
                
                    <!-- TITLE -->
                    <div class="labels1">
                        <h2>Approved Reservations</h2>
                    </div>
                    <div class="labels2">
                        <ul>    
                            <!-- <li class="top-labels">Filter</li> -->
                            <li class="top-labels">
                                <div class="search">
                                    <form method="GET" action="">
                                        <input type="text" name="q" placeholder="Search...">
                                    </form>
                                </div>            
                            </li>
                        </ul>
                    </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <!-- NEW TABLE HEADER -->
                        <th scope="col">Customer</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Pickup Date</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>

                <tbody>
                {% for order in orders %}
                    <tr>
                        <!-- TABLE BODY -->
                        <td data-label="Customer"><a href="{% url 'order-details' order.id %}" id="prod-link">{{order.customer}}</a></td>
                        <td data-label="Transaction ID">{{order.transaction_id}}</td>
                        <td></td>
                        <td data-label="Date Ordered">{{order.date_ordered}}</td>
                        <td data-label="Date Ordered">{{item.get_total}}</td>
                        
                        <td>    
                            <form method="POST">
                            {% csrf_token %}
                                <!-- RECEIVE PAYMENT -->
                                <input type="hidden" value="{{order.id}}" name="transaction-successful">
                                <input type="submit" value="Receive Payment" name="button" id="transaction-successful" onclick="return confirm('Payment Received?');">
                                <br>
                                <!-- CANCEL -->
                                <input type="hidden" value="{{order.id}}" name="cancel">
                                <input type="submit" value="Cancel" name="button" id="cancel" onclick="return confirm('Cancel Reservation?');">
                            </form>
                        </td>
                        
                        <!-- <td colspan="8">No results found.</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- BACK TO TOP BUTTON -->
<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa-solid fa-arrow-up"></i>
</button>
<!-- BACK TO TOP SCRIPT -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock content %}